table,
td {
	border: 1px solid silver;
}

table {
	border-collapse: collapse;
	margin: 25px auto;
}

th, td {
	vertical-align: top;
	font-family: Tahoma;
	font-size: 1em;
	padding: 3px ;
}

td.pinta_rojo {
	background-color: #FF0000;
}

td.pinta_verde {
	background-color: #5EB05B;
}

td.dcha {
	text-align: right;
}

td.centrar {
	text-align: center;
}

td.dominioLista {
	width: 140px;
	font-family: Courier;
}


tr:nth-child(2n+1)  {
	background: #DFFFFF;
}

tr:nth-child(2n+0)  {
	background: #FFF;
}

tbody tr:hover {
	background: #BDC3C7;
}